.fundo{
    height: 800px;
}
.aprender{
    background-color:rgb(255, 81,85);
    height: 90%;
    margin: 0 auto;
    padding: 1em;   
}
.img{
    position: absolute;
    margin: 0 auto;
    right: 350px;
}
.carousel-inner img {
    width: 100% !important;
  }
.cabecalho .aprender{  
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-opcoes-link{
    color: white; 
    font-size:25px; 
    margin: 0 0 0 20px;
}
.titulo-principal{
    color: rgb(255,255,255);
    font-size: 3em;    
}
.container{
    height: 90%;
    position: relative;
    margin: 0 auto;
    top: 350px;
}
.engloba .escrito{
    position: relative; 
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 81, 85);
}
.item p{
    position: relative;
    color: white;
}
.escrito h2{
    top: 10px;
    position: relative;
    margin: 0 auto;
    font-size: 50px;
    width: 5ch;
    padding-top: 60px;
    height: 30px;
    color:rgb(255, 255, 255);
}
.sobre-nos{
    position: absolute;
    padding-top: 130px;
    line-height: 3em;
   
}
.sobre-nos p{
    font-size: 25px;
    width: 70ch;
    position: relative;
    color: rgb(255, 255, 255);
}
.engloba{
    position: relative;
}
.saiba-mais{
    font-size: 25px;
    position: relative;
    width: 10ch;
    height: 30px;
    margin: 0 auto;
    top: 0px; 
    color: rgb(255, 255, 255);
}
.rodape{
    position: relative;
    height: 300px;
    background-color:rgb(0,100,135);
}
.rod{
    position: relative;
    color: rgb(255,255,255);
    top: 250px;
    left: 80%;
    width: 18ch;
    font-size: 20px;
}
.saiba a{
    position: relative;
    color: white;
    font-size: 20px;
    left: 80px;
    top: 90px;
    text-transform: uppercase; 
}
.tire-suas-duvidas a{
    position: relative;
    color: white;
    font-size: 20px;
    left: 580px;
    top: 61px;
    text-transform: uppercase;    
}
.adote-um-dog a{
    position: relative;
    color: white;
    font-size: 20px;
    left: 330px;
    top: 33px;
    text-transform: uppercase; 
}
.endereco{
    position: relative;
    width: 31ch;
    height: 50px;
    top:-50px;
    left:80%;
}
.endereco address{
    color: white;
    font-size: 15px;
}

